@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Mulish:wght@300;400;600;700&display=swap");
/*Основные*/

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}
span {
  font-weight: 1000;
  opacity: 1;
  color: rgba(31, 21, 52, 1);
}

a {
  text-decoration: none;
  color: #1f1534;
}
* {
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
  margin: 0;

  padding: 0;
}

/*Шапка*/
.header {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.logo {
  margin-top: 56px;
  margin-left: 191px;
  display: flex;
  align-items: center;
  padding-right: 15px;
}
.logo_img {
  height: 41px;
  width: 41px;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
}
.logo_text {
  margin-left: 12px;
  font-size: 24px;
  line-height: 30px;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  color: #233348;
}

.links {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 192px;
  margin-top: 70px;
}

.nav {
  display: flex;
  justify-content: flex-start;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  height: 23px;
}
.nav a {
  margin-right: 20px;
}

/*Контент Зона ( Основная )*/
.welcome {
  width: 100%;
  margin-left: 191px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.welcome_text {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  height: 32px;
  font-size: 21px;
  width: 500px;
  height: 338px;
}
.welcome_text p {
  color: rgba(125, 121, 135, 1);
}
.welcome_img {
  margin-top: 84px;
  margin-left: 255px;
  margin-right: 163px;
  width: 693px;
  height: 598px;
}
.button {
  background-image: url(../img/obj.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  height: 56px;
  width: 200px;
  border: none;
  outline: none;
  font-family: "Muli";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  mix-blend-mode: normal;
  align-items: center;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
}
/*2 часть*/
.classes {
  width: 100%;
  margin: 356px auto 54px;
}
/*Стили для шапки*/
.classes_header_head {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  text-align: center;
  align-items: center;
}
.classes hr {
  width: 56px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 26px auto 33px;
  align-items: center;
}
.classes_header_text {
  height: 60px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7d7987;
  mix-blend-mode: normal;
  text-align: center;
  align-items: center;
}
/*Карточки*/
.services {
  width: 1123px;
  margin: 80px auto;
  display: grid;
  grid-template-rows: 350px 350px;
  grid-template-columns: 350px 350px 350px;
  grid-gap: 36px;
  align-items: center;
}
.services-item {
  padding: 54px 45px 47px 37px;
}
.services-item h3 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 56px;
  color: #000000;
  mix-blend-mode: normal;
}
.services-item p {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7d7987;
  mix-blend-mode: normal;
}
.services-item1 {
  padding: 54px 45px 47px 37px;
}

.services-item1 h3 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 56px;
  color: #000000;
  mix-blend-mode: normal;
}
.services-item1 p {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7d7987;
  mix-blend-mode: normal;
}
.button-item {
  margin-top: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-item {
  border: 1.4px solid #458ff6;
  border-radius: 55px;
  height: 56px;
  width: 200px;
  font-family: "Muli";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #458ff6;
  mix-blend-mode: normal;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
}
.scnd {
  flex-direction: row-reverse;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.block-text h4 {
  height: 112px;
  width: 481px;
  font-family: "Muli";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  margin: 0;
}
.block-text p {
  height: 128px;
  width: 450px;
  font-family: "Muli";
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  color: rgba(125, 121, 135, 1);
}
.block-text hr {
  width: 56px;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: baseline;
}
.projects-block img {
  width: 665px;
  height: 434px;
  display: block;
}
.st {
  display: flex;
  justify-content: space-between;
  margin-bottom: 260px;
}
.projects {
  margin: 54px 192px 251px 280px;
}
.adv-header hr {
  width: 56px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 26px auto 72px;
  align-items: center;
}
.adv-header h4 {
  display: flex;
  justify-content: center;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
  mix-blend-mode: normal;
}
.card img {
  width: 370px;
  height: 240px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card {
  flex-flow: column nowrap;
  margin-right: 50px;
  margin-bottom: 60px;
  align-items: center;
  display: flex;
}
.adv-cards {
  display: flex;
  justify-content: center;
}
.card h5 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  height: 64px;
  width: 251px;
  left: 273px;
}
.card p {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7d7987;
  mix-blend-mode: normal;
  height: 84px;
  width: 266px;
}
.card a {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: #4089ed;
  mix-blend-mode: normal;
  float: left;
}
.fa-long-arrow-right {
  margin-left: 10px;
}
.adv button {
  display: block;
  justify-content: center;
  margin: 0 auto 137px auto;
}
.video {
  background: linear-gradient(rgb(0, 0, 0, 0.55), rgb(0, 0, 0, 0.55)),
    url(../img/bg.png);
  width: 1120px;
  height: 454px;
  margin: 0 auto 70px auto;
  border-radius: 24px;
}
.video-title {
  display: flex;
  justify-content: center;
  font-family: "Muli";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #ffffff;
  mix-blend-mode: normal;
}
.video-button {
  justify-content: center;
  display: flex;
  margin: 0 auto;
  align-items: center;
  border: 1px solid white;
  height: 100px;
  width: 300px;
  border-radius: 200px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  margin-top: 70px;
}
.video-button img {
  margin-right: 10px;
}
.email-title h5 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}
.email-title p {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #999999;
}
.email-input {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 35px;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  width: 357px;
  height: 60px;
  align-items: center;
}
.email-end {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.email-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background: #4089ed;
  height: 60px;
  width: 190px;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 0px 30px 30px 0px;
  display: flex;
  align-items: center;
}
.email-text p {
  margin-left: 46px;
}
input {
  border: none;
  display: none;
  display: block;
  outline: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #999999;
}
.email-end {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  color: #999999;
}
.footer {
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
  width: 100%;
  height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-links {
  display: flex;
  justify-content: center;
  margin-left: 140px;
}
.logo-footer {
  display: flex;
  align-items: center;
}
.text-place {
  width: 400px;
  font-family: "Muli";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}
.links-ft {
  font-family: "Muli";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  color: #ffffff;
  list-style: none;
  margin-right: 150px;
}
.links-ft:last-child {
  margin-right: 0px;
}
